{% extends "layout.html" %}
{% block title %}Connections{% endblock %}
{% block content %}

    <h>Top downloaded APK of Today</h>
    <table class="table">
      <thead>
          <tr>
              <th></th>
              <th>Anti-Virus</th>
              <th>APK name</th>
              <th>version</th>
              <th>MD5</th>
              <th>category</th>
              <th>rank</th>
          </tr>
      </thead>
      <tbody>
          {% for at in attacks %}
              {% if at['av_result'] %}
                  {% if at['av_result']['summary']['positives']>0 %}
                      <tr class="danger">
                  {% else %}
                      <tr>
                  {% endif %}
                      <td>{{ loop.index }}</td>
                      <td>
                          {{ at['av_result']['summary']['positives'] }}/{{ at['av_result']['summary']['total'] }}
                      </td>
                      <td>{{ at['name'] }}</td>
                      <td>{{ at['version'] }}</td>
                      <td>{{ at['md5'] }}</td>
                      <td>{{ at['title'] }}</td>
                      <td>{{ at['rank'] }}</td>
                      <td>
                          <form class="form-inline" method="post" action="download/">
                          <button class = "btn btn-primary" type = "submit" name="download_apk" value={{ at['md5'] }} >
                              Download
                          </button>
                          </form>
                      </td>
                  </tr>
              {% else %}
                  <tr>
                      <td>{{ loop.index }}</td>
                      <td></td>
                      <td>{{ at['name'] }}</td>
                      <td>{{ at['version'] }}</td>
                      <td>{{ at['md5'] }}</td>
                      <td>{{ at['title'] }}</td>
                      <td>{{ at['rank'] }}</td>
                      <td>
                          <form class="form-inline" method="post" action="download/">
                          <button class = "btn btn-primary" type = "submit" name="download_apk" value={{ at['md5'] }} >
                              Download
                          </button>
                          </form>
                      </td>
                  </tr>
              {% endif %}
          {% endfor %}
      </tbody>
    </table>

{% endblock %}
