{% extends "layout.html" %}
{% block title %}Connections{% endblock %}
{% block content %}

    <h>Top downloaded APK of Today</h>
    <table class="table">
      <thead>
          <tr>
              <th></th>
              <th>title</th>
              <th>rank</th>
              <th>APK name</th>
              <th>version</th>
              <th>MD5</th>
          </tr>
      </thead>
      <tbody>
          {% for at in attacks %}
          <tr>
              <td>{{ loop.index }}</td>
              <td>{{ at['title'] }}</td>
              <td>{{ at['rank'] }}</td>
              <td>{{ at['name'] }}</td>
              <td>{{ at['version'] }}</td>
              <td>{{ at['md5'] }}</td>
              <td>
                  <form class="form-inline" method="post" action="download/">
                  <button class = "btn btn-primary" type = "submit" name="download_apk" value={{ at['md5'] }} >
                      Download
                  </button>
                  </form>
              </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>

{% endblock %}
